# Ignore all files by default, but scan all directories.
*
!*/

# UE4 includes
# Do not ignore source, config and plugins dirs.
!/Source/**
!/Config/**
!/Plugins/**

# Only allow .uasset and .umap files from /Content dir.
# They're tracked by git-lfs, don't forget to track other
# files if adding them here.
!/Content/**/*.uasset
!/Content/**/*.umap

!.gitignore
!.gitattributes
!*.uproject